#header {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 400 !important;
  margin-top: -0.5em;
  margin-left: -0.62em;
  color: black;
}

img {
  height: 500px;
  display: block;
}

.ava {
  margin-right: 3.5em;
}

.flex {
  display: flex;
  margin-left: 23em;
  margin-bottom: 16em;
}

#info {
  font-size: 20px;
  color: #4b6e8a;
}

#moreinfo {
  font-size: 20px;
  margin-left: 17em;
  margin-bottom: 5em;
}

.link {
  color: rgb(1, 27, 27);
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  font-size: 1.5em;
  font-weight: 600;
  transition-duration: 1s;
}

.experience {
  margin-left: 10em;
  margin-bottom: 1em;
  margin-top: 1em;
  letter-spacing: 2px;
  padding: 0.6em 2em;
  text-align: center;
  color: #4b6e8a;
  border: none;
  font-size: 1.1em;
  font-weight: 400;
  background-color: rgb(237, 237, 237);
  font-family: "Raleway", sans-serif;
  width: 250px;
  border-radius: 0.5em;
}

.experience:hover {
  color: rgb(231, 231, 231);
  background-color: #6391b6;
  transition-duration: 1s;
  cursor: pointer;
}

.work {
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.port {
  margin-left: 9.5em;
  font-size: 2.3em;
}

li {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  margin-bottom: 3px;
  font-size: 1.1em;
  margin-left: -1em;
}

body {
  background-color: #f5f4ff;
  margin-top: 16em;
}

.portfolio {
  margin: 0 auto;
  display: grid;
  width: 800px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.portfolio figure {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.portfolio img {
  width: 100%;
  flex: 1;
  object-fit: cover;
}

.portfolio .big {
  grid-row: span 2;
  grid-column: span 2;
}

.portfolio .bigger {
  grid-row: span 3;
  grid-column: span 3;
}

.portfolio figcaption {
  color: aliceblue;
  text-align: end;
  padding: 1em;
  background-color: #6391b6;
  font-family: "Raleway", sans-serif;
}

.box {
  font-family: "Raleway", sans-serif;
  margin: auto;
  margin-top: 10px;
  background: #6391b6;
  border-radius: 6px;
  cursor: pointer;
  height: 65px;
  line-height: 65px;
  text-align: center;
  width: 800px;
  margin-top: 1em;
}
.box:hover {
  background: lightgray;
  transition-duration: 1s;
}

@media (max-width: 600px) {
  #header {
    margin-left: -2.1em;
  }
  body {
    margin-top: 2em;
  }
  .ava {
    height: 130px !important;
    margin-right: 1.5em;
  }

  .flex {
    margin-left: 0.1em;
    margin-bottom: 2em;
  }

  #info {
    min-width: 230px;
  }

  #header {
    font-size: 0.4em;
  }

  li {
    font-size: 0.22em;
    margin-left: -4em;
  }

  #moreinfo {
    margin-left: 3em;
  }

  .work {
    font-size: 0.4em;
    margin-left: 4.2em;
  }

  .experience {
    margin-left: 0.1em;
    width: 150px;
    font-size: 0.25em;
    padding: 0.8em 1.8em;
  }

  .port {
    margin-left: 0em;
    font-size: 0.5em;
  }

  .portfolio .big {
    grid-row: span 2;
    grid-column: span 2;
  }

  .portfolio .bigger {
    grid-row: span 3;
    grid-column: span 3;
  }

  .portfolio {
    margin-left: -0.35em;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 2px;
    grid-auto-flow: dense;
  }

  .portfolio figcaption {
    font-size: 0.2em;
  }

  .box {
    max-width: 200px;
    font-size: 0.3em;
    padding: 0;
    margin: 0;
    margin-left: -1.3em;
    margin-bottom: -3em;
    height: 3em;
    line-height: 14px;
    border-radius: 2px;
    margin-top: 0.5em;
  }

  #moreinfo {
    font-size: 20px;
    margin-left: -1.7em;
    margin-bottom: 1em;
  }
}
